#duolingo-progress-bar {
  margin: 80px 50px 50px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  scrollbar-width: thin;
}

#duolingo-progress-bar .skill {
  display: inline-flex;
}

#duolingo-progress-bar .skill .circle {
  position: relative;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: all 0.2s linear;
}

#duolingo-progress-bar .skill .circle:hover,
#duolingo-progress-bar .skill .circle:focus-visible {
  opacity: 0.5;
}

#duolingo-progress-bar .skill .line {
  width: 3px;
  height: 6px;
  align-self: center;
  opacity: 0.45;
}

.duolingo-progress-bar-tooltip {
  background-color: #f7f7f7;
  border: 2px solid #e5e5e5;
  z-index: 10000;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: bold;
  width: fit-content;
  display: none;
}

@keyframes slideUp {
  0% {
    top: -40px;
    opacity: 0;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    top: -70px;
    opacity: 1;
  }
}

.duolingo-progress-bar-tooltip.show {
  display: table;
  opacity: 1;
  animation: slideUp 0.15s ease-out;
}

.duolingo-progress-bar-label {
  position: absolute;
  font-size: 0.9rem;
  color: #3c3c3c;
  top: -30px;
}

.duolingo-progress-bar-percentage {
  left: 50px;
}

.duolingo-progress-bar-skillCompletion {
  right: 50px;
}

@media screen and (max-width: 691px) {
  #duolingo-progress-bar {
    margin: 100px 20px 50px;
  }

  .duolingo-progress-bar-percentage {
    left: 20px;
    top: -25px;
    font-size: 0.8rem;
  }

  .duolingo-progress-bar-skillCompletion {
    display: none;
  }
}

.duolingo-progress-bar-decay {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(2.3) rotate(15deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 135 135' width='135' height='135' preserveAspectRatio='xMidYMid meet' style='width:100%25;height:100%25;transform:translate3d(0px, 0px, 0px)'%3E%3Cdefs%3E%3CclipPath id='__lottie_element_85710'%3E%3Crect width='135' height='135' x='0' y='0'/%3E%3C/clipPath%3E%3CclipPath id='__lottie_element_85712'%3E%3Cpath d='M0,0 L208,0 L208,188 L0,188z'/%3E%3C/clipPath%3E%3Cmask id='__lottie_element_85718' mask-type='alpha'%3E%3Cg clip-path='url(%23__lottie_element_85719)' transform='matrix(1,0,0,1,26,16)' opacity='1' style='display:block'%3E%3Cg transform='matrix(1,0,0,1,78,78)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(253,200,3)' fill-opacity='1' d='M0,-39 C21.524099349975586,-39 39,-21.524099349975586 39,0 C39,21.524099349975586 21.524099349975586,39 0,39 C-21.524099349975586,39 -39,21.524099349975586 -39,0 C-39,-21.524099349975586 -21.524099349975586,-39 0,-39z'/%3E%3C/g%3E%3C/g%3E%3Cg mask='url(%23__lottie_element_85740)' style='display:block'%3E%3Cg transform='matrix(1,0,0,1,117.2959976196289,97.2959976196289)' opacity='1'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(253,216,0)' fill-opacity='1' d='M-41.71799850463867,27.582000732421875 C-41.71799850463867,27.582000732421875 27.582000732421875,-41.71799850463867 27.582000732421875,-41.71799850463867 C31.48200035095215,-45.62799835205078 37.8120002746582,-45.62799835205078 41.72200012207031,-41.71799850463867 C45.62200164794922,-37.81800079345703 45.62200164794922,-31.47800064086914 41.72200012207031,-27.577999114990234 C41.72200012207031,-27.577999114990234 -27.577999114990234,41.72200012207031 -27.577999114990234,41.72200012207031 C-31.47800064086914,45.62200164794922 -37.81800079345703,45.62200164794922 -41.71799850463867,41.72200012207031 C-45.62799835205078,37.8120002746582 -45.62799835205078,31.48200035095215 -41.71799850463867,27.582000732421875z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg mask='url(%23__lottie_element_85746)' style='display:block'%3E%3Cg transform='matrix(1,0,0,1,117.2959976196289,12.295999526977539)' opacity='1'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(253,216,0)' fill-opacity='1' d='M-41.71799850463867,27.582000732421875 C-41.71799850463867,27.582000732421875 27.582000732421875,-41.71799850463867 27.582000732421875,-41.71799850463867 C31.48200035095215,-45.62799835205078 37.8120002746582,-45.62799835205078 41.72200012207031,-41.71799850463867 C45.62200164794922,-37.81800079345703 45.62200164794922,-31.47800064086914 41.72200012207031,-27.577999114990234 C41.72200012207031,-27.577999114990234 -27.577999114990234,41.72200012207031 -27.577999114990234,41.72200012207031 C-31.47800064086914,45.62200164794922 -37.81800079345703,45.62200164794922 -41.71799850463867,41.72200012207031 C-45.62799835205078,37.8120002746582 -45.62799835205078,31.48200035095215 -41.71799850463867,27.582000732421875z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg clip-path='url(%23__lottie_element_85750)' transform='matrix(1,0,0,1,0,0)' opacity='1' style='display:block'%3E%3Cg transform='matrix(1,0,0,1,80,77)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(255,177,0)' fill-opacity='1' d='M0,25.5 C11.600000381469727,25.5 21,15.890000343322754 21,4.050000190734863 C21,-7.800000190734863 11.600000381469727,-25.5 0,-25.5 C-11.600000381469727,-25.5 -21,-7.800000190734863 -21,4.050000190734863 C-21,15.890000343322754 -11.600000381469727,25.5 0,25.5z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,52,52)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(248,151,0)' fill-opacity='1' d='M3.0199999809265137,-7 C4.25,-5.519999980926514 5,-3.569999933242798 5,-1.4500000476837158 C5,3.2200000286102295 1.399999976158142,7 -3.0399999618530273,7 C-3.7200000286102295,7 -4.369999885559082,6.909999847412109 -5,6.75 C-3.2899999618530273,1.6200000047683716 -0.47999998927116394,-3.430000066757202 3.0199999809265137,-7z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,101,54)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(248,151,0)' fill-opacity='1' d='M8.5,7.309999942779541 C6.690000057220459,8.979999542236328 4.300000190734863,10 1.6699999570846558,10 C-3.950000047683716,10 -8.5,5.360000133514404 -8.5,-0.3700000047683716 C-8.5,-4.730000019073486 -5.860000133514404,-8.470000267028809 -2.119999885559082,-10 C2.7799999713897705,-6.050000190734863 6.630000114440918,0.7200000286102295 8.5,7.309999942779541z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,100,114)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(248,151,0)' fill-opacity='1' d='M-6.489999771118164,6 C-6.820000171661377,5.03000020980835 -7,3.9800000190734863 -7,2.880000114440918 C-7,-2.0199999809265137 -3.380000114440918,-6 1.090000033378601,-6 C3.4200000762939453,-6 5.519999980926514,-4.909999847412109 7,-3.180000066757202 C3.9000000953674316,1.659999966621399 -0.9200000166893005,5.079999923706055 -6.489999771118164,6z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,65,95)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(248,151,0)' fill-opacity='1' d='M0,-7.5 C4.139249801635742,-7.5 7.5,-4.139249801635742 7.5,0 C7.5,4.139249801635742 4.139249801635742,7.5 0,7.5 C-4.139249801635742,7.5 -7.5,4.139249801635742 -7.5,0 C-7.5,-4.139249801635742 -4.139249801635742,-7.5 0,-7.5z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3CclipPath id='__lottie_element_85719'%3E%3Cpath d='M0,0 L156,0 L156,156 L0,156z'/%3E%3C/clipPath%3E%3Cmask id='__lottie_element_85740' mask-type='alpha'%3E%3Cg transform='matrix(1,0,0,1,78,78)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(253,200,3)' fill-opacity='1' d='M0,-39 C21.524099349975586,-39 39,-21.524099349975586 39,0 C39,21.524099349975586 21.524099349975586,39 0,39 C-21.524099349975586,39 -39,21.524099349975586 -39,0 C-39,-21.524099349975586 -21.524099349975586,-39 0,-39z'/%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3Cmask id='__lottie_element_85746' mask-type='alpha'%3E%3Cg transform='matrix(1,0,0,1,78,78)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(2,0,0,2,0,0)'%3E%3Cpath fill='rgb(253,200,3)' fill-opacity='1' d='M0,-39 C21.524099349975586,-39 39,-21.524099349975586 39,0 C39,21.524099349975586 21.524099349975586,39 0,39 C-21.524099349975586,39 -39,21.524099349975586 -39,0 C-39,-21.524099349975586 -21.524099349975586,-39 0,-39z'/%3E%3C/g%3E%3C/g%3E%3C/mask%3E%3CclipPath id='__lottie_element_85750'%3E%3Cpath d='M0,0 L208,0 L208,188 L0,188z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23__lottie_element_85710)'%3E%3Cg clip-path='url(%23__lottie_element_85712)' transform='matrix(0.8500000238418579,0,0,0.8500000238418579,-20.900001525878906,-12.400001525878906)' opacity='1' style='display:block'%3E%3Cg mask='url(%23__lottie_element_85718)' style='display:block'%3E%3Cg transform='matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,0,0)' opacity='0.8'%3E%3Cpath fill='rgb(255,255,255)' fill-opacity='1' d='M-0.7070000171661377,-115 C-0.7070000171661377,-115 -0.7070000171661377,112.5 -0.7070000171661377,112.5 C-0.7070000171661377,112.5 -27.5,112.5 -27.5,112.5 C-27.5,112.5 -27.5,-115 -27.5,-115 C-27.5,-115 -0.7070000171661377,-115 -0.7070000171661377,-115z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,104,94)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,255,255)' fill-opacity='1' d='M-0.25,8.75 C-0.25,8.75 -5.75,9 -6,9.75 C-6.25,10.5 -11.75,46.5 -11.75,46.5 C-11.75,46.5 9.597999572753906,78.5530014038086 9.597999572753906,78.5530014038086 C9.597999572753906,78.5530014038086 28.136999130249023,76.24600219726562 27.290000915527344,75.25499725341797 C17.132999420166016,63.3650016784668 -1.5,41.25 -1.5,41.25 C-1.5,41.25 -0.25,8.75 -0.25,8.75z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,104,94)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,255,255)' fill-opacity='1' d='M23.899999618530273,-76.69499969482422 C23.899999618530273,-76.69499969482422 3.25,-56.75 3.25,-56.75 C3.25,-56.75 4,5 4,5 C4,5 -42.25,11.5 -42.25,11.5 C-42.25,11.5 -33.75,17.5 -33.75,17.5 C-33.75,17.5 12.5,9.25 12.5,9.25 C12.5,9.25 19.5,-46 19.5,-46 C19.5,-46 44.1510009765625,-67.52200317382812 44.1510009765625,-67.52200317382812 C44.1510009765625,-67.52200317382812 39.7400016784668,-71.42400360107422 34.619998931884766,-73.96199798583984 C29.5,-76.5 23.899999618530273,-76.69499969482422 23.899999618530273,-76.69499969482422z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,104,94)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,255,255)' fill-opacity='1' d='M-42.75,10.5 C-42.75,10.5 -77,34.25 -77.25,35 C-77.5,35.75 -64.25,57.25 -64.25,57.25 C-64.25,57.25 -29.75,12.5 -29.75,12.5 C-29.75,12.5 -42.75,10.5 -42.75,10.5z'/%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,104,94)' opacity='1' style='display:block'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,255,255)' fill-opacity='1' d='M-78.82599639892578,-13.491999626159668 C-78.82599639892578,-13.491999626159668 -46.75,21.5 -46.75,21.5 C-46.75,21.5 -33.5,17.25 -33.5,17.25 C-33.5,17.25 -77.30500030517578,-21.687999725341797 -77.30500030517578,-21.687999725341797 C-77.30500030517578,-21.687999725341797 -78.82599639892578,-13.491999626159668 -78.82599639892578,-13.491999626159668z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
